$mainColor: #444c63;
$progressBarColor: #00b5f9;
$locationTextColor: #364760;
$textWhiteColor: white;
$infoColor: #9aa1b6;
$photoBackground: #f9f9f9;
@font-face {
    font-family: 'mainFont';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}